@import "Variable/Core";
@import "Variable/Font";
@import "Variable/Color";

body{
  overflow-y: hidden;
  header {
    nav{
      background-color: $Header-Color;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      padding: 5px 30px 5px 5px;
      .header-content-wrap{
        color: white;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: nowrap;
        flex-grow:1;
        align-items: center;
        justify-content: flex-start;
        &:nth-child(1){
          .dashboard-admin-title{
            margin-left : 10px;
            font-weight: bolder;
            font-size: 20px;
            a{
              color: white;
            }
          }
        }
        &:nth-child(2){
          justify-content: flex-end;
          position: relative;
          .dropdown{
            display: flex;
            align-items: center;
            img{
              border-radius: 50%;
              margin-left: 10px;
            }
            span{
              color: white;
              text-decoration: none;
            }
            .dropdown-icon{
              margin-left: 10px;
              font-size: 20px;
              cursor: pointer;
              -webkit-transform:rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
            }
            .rotate180{
              -webkit-transform:rotate(-90deg) !important;
              -moz-transform: rotate(-90deg) !important;
              -ms-transform: rotate(-90deg) !important;
              -o-transform: rotate(-90deg) !important;
              transform: rotate(-90deg) !important;
            }
          }
          .header-content-dropdown{
            display: none;
            position: absolute;
            top: 46px;
            background-color: $Header-Color;
            right: 0;
            z-index: 20;
            padding: 5px 20px;
            box-sizing: border-box;
            border: 1px solid white;
            a{
              text-align: center;
              width: 250px;
              padding: 10px 0;
              display: inline-block;
              color: white;
              margin: 5px 0;
              &:hover{
                background-color: #F78B8B;
              }
            }
          }
        }
      }
    }
  }
  main{
    padding: 10px 0;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    .navigation-wrap{
      position: relative;
      height: 95%;
      min-width: 270px;
      padding: 10px 0;
      background-color: $Sidebar-Color;
      font-size: 12px;
      .sidebar-list-wrap{
        height: 85%;
        li{
          list-style: none;
          padding: 0 30px;
        }
        ul{
          margin: 5px 0;
          li{
            a{
              &:hover{
                color: rgb(25, 0, 119);
              }
            }
            cursor: pointer;
            padding: 5px 40px;
            background-color: $Sidebar-Item-Color;
          }
        }
      }
      .sidebar-bottom{
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        li{
          list-style: none;
          font-size: 14px;
          width: 100%;
          text-align: center;
          padding: 5px 0;
        }
        li:last-child{
          padding: 10px 0;
          background-color: tomato;
          a{
            color: white;
          }
        }
      }
    }
    .form-import-value{
      h2{
        margin: 10px 0;
      }
      form{
        select, input[type='submit']{
          outline: 1px solid black;
          padding: 10px 5px;
          width: 100%;
        }
        input[type='file']{
          width: 100%;
        }
        input, select{
          margin: 10px 0;
        }
      }
    }
    .content-wrap{
      margin: 10px 0;
      background-color: cornflowerblue;
      border-top: 5px solid red;
      width: 90%;
      padding: 10px 10px 20px 10px;
      &:last-child{
        margin-bottom: 80px;
      }
      .import{
        padding: 10px 0 0 0px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
        button[name='import']{
          padding: 5px 50px;
          background-color: limegreen;
        }
      }
      .account-search-add{
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
        padding: 0 20px;
        a{
          border: 1px solid grey;
          color: white;
          background-color: rgb(255, 84, 84);
          margin-left: 5px;
          padding: 5px 10px;
          display: inline-block;
        }
        input{
          padding: 5px;
        }
      }
      table{
        background-color: white;
        tr{
          td{
            padding: 2px;
          }
        }
      }
      .form-create-account-wrap{
        .form-create-item{
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: column;
          padding: 5px;
          label{
            margin-bottom: 5px;
          }
          input, select{
            outline: 1px solid black;
            padding: 10px 5px;
          }
          select{
            width: 100%;
          }
        }
        .btnBack{
          margin: 5px 0 0 5px;
          a{
            display: inline-block;
            background-color: black;
            color: white;
            padding: 10px 50px;
            font-family: cursive;
          }
        }
      }
    }
  }
}
