@import "Font";
*{
  padding: 0;
  margin: 0;
  content: "";
  clear: both;
  font-family: $font-Philosopher;
}
html, body{
  width: 100%;
  height: 100%;
  position: relative;
}

input[type='submit'], input[type='button'], button{
  &:hover{
    cursor: pointer;
  }
}

input[type='radio']{
  outline: none !important;
}

.hidden{
  display: none !important;
}

a{
  color: black;
  text-decoration: none;
}

.abu{
  color: white;
  background-color: #343434;
}

.merah{
  color:white;
  background-color: #cb0000;
}

.abuputih>td{
  color: white;
  background-color: indianred !important;
}

.abuhitam>td{
  color: white;
  background-color: rgb(89, 89, 89) !important;
}


.rank{
  background-color: #FFE603;
  color: black;
}

.hitam{
  background-color: black;
  color: white;
}

.btn-edit{
  background: rgb(0, 149, 55);
  padding: 3px 20px;
  border: 1px solid grey;
  color: white;
}

.btn-hapus{
  background: red;
  padding: 3px 20px;
  border: 1px solid grey;
  color: white;
}

.jconfirm-box{
  width: 300px;
}
