@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
$errSize : 12px;
$font-real-nova : 'Ibarra Real Nova', serif;
$font-gayathri: 'Gayathri', sans-serif;
$font-girassol: 'Girassol', cursive;
$font-patua: 'Patua One', cursive;
$font-Philosopher: 'Philosopher', sans-serif;
